*~
__pycache__
*.pyc
*.pyo
*.egg-info/
build/
dist/
*.egg
.pytest_cache/
.coverage
htmlcov/
.eggs/
*.so
*.dylib
.Python
env/
venv/
ENV/
*.log
node_modules/
trustgraph_configurator/version.py
INSTALLATION.md
