torch
urllib3
transformers
sentence-transformers
rdflib
pymilvus
langchain
langchain-core
langchain-huggingface
langchain-text-splitters
langchain-community
huggingface-hub
requests
scylla-driver
pulsar-client
pypdf
anthropic
google-cloud-aiplatform
pyyaml
prometheus-client
pyarrow
boto3
ollama
python-logging-loki
