
name: Test pull request

on:
  pull_request:

permissions:
  contents: read

jobs:

  test:

    name: Run tests
    runs-on: ubuntu-latest

    container:
      image: python:3.12

    steps:

      - name: Set version
        run: VERSION=1.2.999

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup environment
        run: |
          python -m ensurepip --upgrade
          python --version
          python -m venv env
          . env/bin/activate
          pip install build wheel
          make update-package-versions VERSION=1.2.999
          pip install ./trustgraph-base ./trustgraph-cli ./trustgraph-flow ./trustgraph-bedrock ./trustgraph-vertexai
          tg-show-processor-state --help
          pip install pytest pytest-cov pytest-asyncio pytest-mock
          python -c 'import trustgraph.base;print(dir(trustgraph.base))'
          python -c 'import trustgraph.schema;print(dir(trustgraph.schema))'
          python -c 'import trustgraph.model;print(dir(trustgraph.model))'
          python -m pytest tests/unit
          python -m pytest tests/integration -m 'not slow'
          python -m pytest tests/contract

