
name: Test pull request

on:
  pull_request:

permissions:
  contents: read

jobs:

  container-push:

    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup packages
        run: make update-package-versions VERSION=0.0.0

      - name: Setup environment
        run: python3 -m venv env

      - name: Invoke environment
        run: . env/bin/activate

      - name: Install trustgraph-base
        run: (cd trustgraph-base; pip install .)

      - name: Install trustgraph-cli
        run: (cd trustgraph-cli; pip install .)

      - name: Install trustgraph-flow
        run: (cd trustgraph-flow; pip install .)

      - name: Install trustgraph-vertexai
        run: (cd trustgraph-vertexai; pip install .)

      - name: Install trustgraph-bedrock
        run: (cd trustgraph-bedrock; pip install .)

      - name: Install some stuff
        run: pip install pytest pytest-cov pytest-asyncio pytest-mock testcontainers

      - name: Unit tests
        run: pytest tests/unit

      - name: Integration tests
        run: pytest tests/integration

      - name: Contract tests
        run: pytest tests/contract

